<div class="navbar-fixed-top">
  <div class="wk-header">
    <div class="wk-header-container"><a href="#" class="wk-brand">Wolters Kluwer</a>
      <ul class="wk-nav">
        <!--<li role="presentation"><a href="#"><span class="wk-icon-help-outline"></span>Help</a></li>-->
        <li role="presentation"><app-user-account></app-user-account></li>
      </ul>
    </div>
  </div>
  <nav class="wk-navbar wk-navbar-product">
    <div class="wk-navbar-container">
      <ul class="wk-nav">
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
        <li role="presentation" [class.active]="router.isActive('/organize')"><a [routerLink]="['/organize/activities']">Organize</a></li>
        <li role="presentation"><a [routerLink]="['/home']">Search</a></li>
        <li role="presentation"><a href="#">Report</a></li>
      </ul>
      <div class="wk-navbar-product-name"><strong><em>Search Automation</em></strong> 1.0</div>
    </div>
  </nav>
</div>
<div class="container top-buffer">
  <router-outlet></router-outlet>
</div>
<div class="wk-footer">
  <div class="wk-footer-copyright">
    <div class="wk-footer-copyright-container">&copy; 2016 Wolters Kluwer and/or its affiliates. All rights reserved.</div>
  </div>
</div>
